@use './vars.scss' as *;

.ad_container{
  max-width: 1600px;
  margin: 0 auto;
}

.debug{
  background-color: rgba($bg-green, .2);
  border: 1px solid $fill-black;
}

.fs_09{
  font-size: .9rem !important;
}

.fs_08{
  font-size: .8rem !important;
}

.text-green{
  color: $bg-green !important;
}

.mb-95{
  margin-bottom: 95px;
}