@use './vars.scss' as *;

.ad_container-sm{
  max-width: 1600px;
  margin: 0 auto;
}

.debug{
  background-color: rgba($bg-green, .2);
  border: 1px solid black;
}

.fs_09{
  font-size: .9rem;
}

.fs_08{
  font-size: .8rem;
}