// -- COLORS -- //

// Background colors
$lg-1: #f9f9f9;
$lg-2: #f5f5f5;
$lg-3: #e5e3df;
$gray-1: #bbbbbb;
$gray-2: #cccccc;
$gray-3: #3d3d3d;
$gray-4: #333333;
$gray-5: #8c8c8c;
$gray-6: #4d4d4d;
$bg-green: #00d9a6;
$bg-blue: #527ceb;
$bg-black: #1a1a1a;

// Text colors
$lg-4: #aaaaaa;
$lg-5: #888888;
$lg-6: #555555;
$lg-7: #444444;
$lg-8: #393939;
$lg-9: #575757;
$text-cyan: #1bb0ce;
$text-green: $bg-green;
$text-black-1: #202020;
$text-black-2: #0e0e0e;

// Fill colors
$fill-white: #ffffff;
$fill-black: #000000;

// Border colors
$border-1: $fill-white;
$border-2: #dedede;
$border-3: $gray-1;

// -- COLORS -- //

// -- GRADIENTS -- //
$gradient-gray: linear-gradient(to left, $gray-3, #3b3b3b);
$gradient-black: linear-gradient(to left, $fill-black, $gray-5);
$gradient-green-toleft: linear-gradient(to left, $bg-green, #96e060);
$gradient-green-toright: linear-gradient(to right, $bg-green, #96e060);
// -- GRADIENTS -- //